@import url('https://fonts.googleapis.com/css?family=Poppins');
:root {
    --black: #626262;
    --lime: #47c09e;
    --white:#fff;
}

*{
    margin: 0;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}

header{
    width: 100%;
    background: var(--black);
    text-transform: uppercase;
    display: flex;
    justify-content: space-between;
    padding: 15px 15%;
    box-sizing: border-box;
}

#mobile-menu{
    display: none;
    flex-direction: column;
    padding-top: 15px;
}

#mobile-menu span{
    display:block;
    height: 2px;
    width: 30px;
    margin-bottom: 5px;
    background: white;
}

.logo a{
    color: var(--lime);
    font-size: 2em;
}

.menu-list{
    display: flex;
    justify-content: center;
}

.menu-list li{
    margin-right: 10px;
    padding-top: 10px;
}

.menu-list li a{
    font-size: 1em;
    color: var(--white);
}

.acount-desc, .acount-mobile{
    margin-top: 5px;
}

.acount-mobile{display: none}

.acount-desc a, .acount-mobile a{
    display: block;
    background: var(--lime);
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 1em;
    color: var(--white);
}

.main-content{
    width: 100%;
}

.head{
    color: var(--white);
    background-image: url("../img/bd1.png");
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    padding:40px 5%;
}

.head h2{
    margin-bottom: 25px;
}

.head .info{
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.info .left-box{
    text-align: left;
    width: 40%;
    margin-right: 25px;
}

.info .left-box p{
    margin-bottom: 15px;
}

.info .left-box ul{
    padding: 0;
}

.info .left-box ul li:before{
    color: var(--lime);
    content: "•";
    padding-right: 10px;
    font-size: 1.5em;
}

.right-block{
    width: 40%;
}

.form{
    padding: 15px;
    background: rgba(98,98,98,.5);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.form h3{
    margin-bottom: 15px;
}

.order-form{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    margin: 0 auto;
}

.order-form select, #days{
    background: rgba(98,98,98,.8);
    border: 0;
    color: var(--white);
    height: 50px;
    border-radius: 5px;
    padding: 5px;
}

.order-form select{
    margin-bottom: 10px;
}

.dooble{
    display: flex;
    justify-content: center;
}

#days{
    width: 50%;
}

.counter{
    display: flex;
    justify-content: flex-end;
    margin-left: 10px;
    width: 50%;
}
.counter input{
    background: rgba(98,98,98,.8);
    border: 0;
    color: var(--white);
    height: 50px;
}

.less,.more{
    display: block;
    background: var(--black);
    margin: 0;
    text-align: center;
    height: 50px;
    padding:1px 10px;
    cursor: pointer;
    font-size: 2em;
}

#error{color: orangered}

#submit{
    background: var(--lime);
    color: var(--white);
    border: 0;
    padding: 10px 20px;
    margin: 5px auto;
    width: 100%;
}

.disc{
    color: var(--white);
    border: 2px solid pink;
    padding: 10px 20px;
    border-radius: 5px;
    margin-top: 10px;
}

.mobile-menu{
    display: block;
}

.mobile-menu-list{
    display: none;
    flex-direction: column;
    justify-content: space-around;
    background: var(--black);
    text-transform: uppercase;
    padding: 15px 40%;
}

.mobile-menu-list li a{color: white;}

.second{
    width: 100%;
    padding: 25px 5%;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.left-bar{
    width: 60%;
}

.our-features{
    display: block;
    border: 1px solid rgba(98,98,98,.5);
    border-radius: 5px;
}

.our-features h2, .contents h2{
    text-align: left;
    margin: 15px auto;
    padding-left: 45px;
    padding-bottom: 15px;
    color: var(--lime);
    border-bottom: 1px solid rgba(98,98,98,.5);
}

.feature{
    display: grid;
    grid-auto-flow:column;
    grid-gap: 10px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    margin: 25px auto;
}

.feature li{
    display: flex;
    margin: 15px 6%;
}

.feature li img{
    margin-right: 10px;
    width: 65px;
    height: 65px;
}

.description{
    width: 50%;
}

.description p{
    color: #aaa;
}

.right-bar{
    width: 30%;
    margin-left: 35px;
}

.contents{
    display: block;
    border: 1px solid rgba(98,98,98,.5);
    border-radius: 5px;
}

.contents ol{
    padding: 20px 50px 35px;
    color: #aaa;
}

.security{
    margin-top: 30px;
}

.security ul{
    display: flex;
    justify-content: space-around;
    padding: 0;
}

.security ul li{
    padding: 5px 10px;
}

.security ul li:nth-child(2) img{
    border-left: 1px solid #aaa;
    border-right: 1px solid #aaa;
    padding: 5px 5%;
}

.third{
    display: block;
    padding-left: calc(5% + 65px);
    width: 62%;
    box-sizing: border-box;
    text-align: justify;
}

.third p, .third ul li{
    color: #aaaaaa;
}

.third p{
    margin-bottom: 15px;
}

.third p span{
    color: #2dabd7;
}

.third ul li:before{
    color: var(--lime);
    content: "•";
    padding-right: 10px;
    font-size: 1.5em;
}

#btn-to-top{
    display: block;
    width: 30px;
    height: 30px;
    text-align: center;
    border-radius: 50%;
    background: rgba(98,98,98,.2);
    float: right;
    margin-right: 60px;
    margin-top: -60px;
}

#btn-to-top a i{
    color: var(--lime);
}

footer{
    width: 100%;
    box-sizing: border-box;
    padding: 15px 10%;
    background: #868686;
}

.footer-content{
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.first-line{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.first-line a{
    color: var(--white);
}

.first-line a:first-child{
    margin-right: 5px;
}
.first-line a:last-child{
    margin-left: 5px;
}

.second-line{
    display: flex;
    justify-content: center;
    margin-top: 25px;
    flex-wrap: wrap;
}

#guar{
    background: rgba(98,98,98,.5);
    border: 0;
    color: white;
    height: 40px;
    width: 30%;
    margin-top: 25px;
}

.contact{
    width: 30%;
    color: white;
}

.contact a{color: white}

.pay-services{
    width: 30%;
    margin-top: 25px;
}

.pay-services i{
    cursor: pointer;
    color: white;
    font-size: 2.2em;
}

.third-line{
    width: 80%;
    margin:25px auto;
    color: white;
}

.third-line p{font-size: .8em}

.fourth-line i{
    color: white;
    font-size: 2.4em;
    margin: 15px;
    cursor: pointer;
}

@media screen and (max-width: 980px) {
    nav{display: none}
    #mobile-menu{display: flex}
    .acount-mobile{display: block}
    .acount-desc{display: none}
    .counter input{width: 40%}
    .second{flex-direction: column}
    .left-bar, .right-bar{
        width: 80%;
        margin: 10px auto;
    }
    .third{
        padding: 0;
        margin: 15px auto;
    }
    .second-line{
        flex-direction: column;
        margin: 15px auto;
        width: 100%;
    }
    #guar, .contact, .pay-services{
        width: 60%;
        margin: 10px auto;
    }
}

@media screen and (max-width: 765px){
    .head .info{
        flex-direction: column;
    }

    .info .left-box, .info .right-block{
        width: 80%;
        margin: 15px auto;
    }

    .left-bar, .right-bar{
        width: 100%;
    }
    .feature{
        padding: 0;
    }
}

@media screen and (max-width: 520px){
    .head{
        background: #536678;
    }
    .feature{
        margin: 10px auto;
    }
    .feature li{
        flex-direction: column-reverse;
        text-align: center;
    }
    .feature li p{display: none}
    .feature li img{margin: 2px auto}
    .description{width: 100%}

    .right-bar{display: none}


    #guar{grid-area: guar}
    .contact{grid-area: contact}
    .pay-services{grid-area: ps}

    .second-line{
        display: grid;
        grid-template-areas: 'guar'
        'ps'
        'contact';
    }

    #guar, .contact, .pay-services{
        width: 100%;
    }
    #btn-to-top{margin-right: 15px}
}


